
{% extends 'blog/Base.html' %}
{% load staticfiles %}
{% block title %}About us  {% endblock %}
{% block content %}
<head>
<title>ABOUT US</title>
</head>
<body>
<h2 align="center" style="color:purple;">ABOUT MELLIE'S FASHION </h2>
<p>
We're almost there, now it's time to tell it to save this change in its history. We're going to give it a "commit message" where
we describe what we've changed. You can type anything you'd like at this stage, but it's helpful to type something
descriptive so that you can remember what you've done in the future.
</p>
<p>
We're almost there, now it's time to tell it to save this change in its history. We're going to give it a "commit message" where
we describe what we've changed. You can type anything you'd like at this stage, but it's helpful to type something
descriptive so that you can remember what you've done in the future.
</p>
<p>
We're almost there, now it's time to tell it to save this change in its history. We're going to give it a "commit message" where
we describe what we've changed. You can type anything you'd like at this stage, but it's helpful to type something
descriptive so that you can remember what you've done in the future.
</p>
<img src="/static/skirt.jpg" alt="Picture of skirt" width="300" height="400" /> <!-- New line -->
<img src="/static/blackdress.jpg" alt="Picture of skirt" width="300" height="400" align="left"/> <!-- New line -->
<img src="/static/tightdress.jpg" alt="Picture of tightdress" width="300" height="400" /> <!-- New line -->
<img src="/static/mellon.jpg" alt="Picture of mellon" width="300" height="400" /> <!-- New line -->
</body>
{% endblock %}
