{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block title %}Our Contacts  {% endblock %}
{% block content %}

<div class = "row container-fluid">
    <div class = "col-sm-12">
    </div>
</div>
<head>
<title>CONTACTS</title>
</head>
<body>

<h3 align="center">MELLIE'S FASHION CONTACTS</h3>
<div class = "row container-fluid" style="background-color:brown">
<p>
<p> <h5>   TEL: 0771414093/0702535983<br><br>
<p>    EMAIL: kukundam@gmail.com
<p>    SKYPE id: kukundam</p> </h5>

</p>
<img src="/static/Mellon.jpg" alt="Picture of Mellon" width="600" height="500" align="right" /> <!-- New line -->
<img src="/static/blackdress.jpg" alt="Picture of blackdress" width="600" height="600" align="left"/> <!-- New line -->
</div>
</body>
    </html>
{% endblock %}