{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block title %}GENTS  {% endblock %}
{% block content %}

<div class = "row container-fluid">
    <div class = "col-sm-12">
    </div>
</div>
<head>
<title>GENTS</title>
</head>
<body><br>
<div class = "row container-fluid" style="background-color:blue">
<h2 align="center">WELCOME TO GENTS PAGE</h2>
<br>
<img src="/static/blackdress.jpg" alt="Picture of blackdress" width="300" height="400" align="bottom right"/>
<img src="/static/dress.jpg" alt="Picture of dress" width="300" height="200" align="bottom center"/><!-- New line -->
<img src="/static/blackdress1.jpg" alt="Picture of blackdress1" width="300" height="400" align="top left"/>
<img src="/static/skirt.jpg" alt="Picture of skirt" width="300" height="400" align="top right"/>
</body>
</html>
{% endblock %}