{% extends 'blog/Base.html' %}
{% load staticfiles %}
{% block title %}HOME  {% endblock %}
{% block content %}
<body>
<div class = "row container-fluid" style="background-color:brown">
    <div class = "col-sm-12">

<head>
<title>Home</title>
</head>

<h2 align="center" style="color:yellow;">WELCOME TO MELLIE'S FASHION SITE</h2>
                <li  class="nav-item"><font size="4"><a style="color:yellow;" href="/login" class="nav-link">Login</a></font></li>
        <li  class="nav-item"><font size="4"><a style="color:yellow;" href="/register" class="nav-link">Register</a></font></li>
<img src="/static/Mellon.jpg" alt="Picture of Mellon" width="1200" height="600" /> <!-- New line -->
 </div>
</div>
</body>
{% endblock %}