{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block title %}LADIES  {% endblock %}
{% block content %}


    <div class = "col-sm-12">
    </div>
</div>
<head>
<title>LADIES</title>
</head>
<body><br><div class = "row container-fluid" style="background-color:orange">
<h2 align="center">WELCOME TO LADIES PAGE</h2>

<br>
<img src="/static/blackdress.jpg" alt="Picture of blackdress" width="300" height="200" align="bottom right"/>
<img src="/static/dress.jpg" alt="Picture of dress" width="300" height="200" align="bottom center"/><!-- New line -->
<img src="/static/blackdress1.jpg" alt="Picture of blackdress1" width="300" height="200" align="top left"/>
<img src="/static/skirt.jpg" alt="Picture of skirt" width="300" height="200" align="top right"/>
</div>
</body>
</html>
{% endblock %}