{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block title %}REGISTER {% endblock %}
{% block content %}
<title>Register</title>
</head>
<body>
<h1 align="center">Register with Mellie</h1>
{% if registered %}
Rango says: <strong>Thank you for registering!</strong>
<a href="/blog/">Return to the homepage.</a><br />
{% else %}<div class = "row container-fluid" style="background-color:grey">
<form id="user_form" method="post"action="/blog/register/" align="center"
enctype="multipart/form-data">
{% csrf_token %}
    {{ user_form.as_p }}
{{ profile_form.as_p }}<br> <br>
    First Name: <input type="text" name="firstame" value="" size="50"  />
    <br> <br>
    Other Names: <input type="text" name="othernames" value="" size="50"  /><br> <br>
    Email Address: <input type="text" name="username" value="" size="50"  /><br> <br>
    Username: <input type="text" name="username" value="" size="50"  /><br> <br>
    Password: <input type="text" name="password" value="" size="50"  /><br> <br>
    Confirm Password: <input type="text" name="password" value="" size="50"  /><br> <br>
<!-- Provide a button to click to submit the form. -->
<input type="submit" name="submit" value="Register" /><br> <br>
</form>
{% endif %}
</body>
</html>
{% endblock %}