{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block title %}SHOP  {% endblock %}
{% block content %}

<div class = "row container-fluid">
    <div class = "col-sm-12">
    </div>
</div>
<head>
<title>SHOP</title>
</head>
<body>
<h1 align="center" font-size="8">WELCOME TO SHOPPING ONLINE</h1>
                <li  class="nav-item"><font size="4"><a style="color:blue;" href="/ladies" class="nav-link">Ladies' Section</a></font></li>
        <li  class="nav-item"><font size="4"><a style="color:blue;" href="/gents" class="nav-link">Gents' Section</a></font></li>
<img src="/static/blackdress.jpg" alt="Picture of blackdress" width="1300" height="800" /> <!-- New line -->

</body>
</html>
{% endblock %}